@charset "utf-8";
/* CSS document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans&display=swap');

/* 여백 초기화  */

* { margin:0; padding:0; border:0; }

/* 목록 불릿 없애기 */
ol, ul { list-style:none; }

/* 하이퍼링크 설정 */
a:link { text-decoration:none; color:#333; }
a:hover { text-decoration:none; color:#333; }
a:visited { text-decoration:none; color:#333; }
a:active { text-decoration:none; color:#333; }
a:focus { text-decoration:none; color:#333; }

legend, caption {display:none;}
fielset {border:0;}
input, select, textarea {vertical-align:middle;}

.all_box {width:100%; height:100%; position:fixed; left:0; top:0; z-index: 99999; background:#ffa9aa;}
.all_title {font-size:100px; font-weight:bold; text-align:center; color:#d87e41; padding-top:200px;}
.all_gnb {width:1200px; margin:0 auto; padding-top:100px;}
.all_gnb > li {float:left; width:25%;}
.all_gnb > li > a {display:block; font-size:30px; color:#FFF; font-weight:bold; text-align: center; padding:30px 0;}
.all_dp2 {border-top:1px solid rgba(255,255,255,0.3); padding-top:20px; margin: 0 30px;}
.all_dp2 a {display:block; padding:5px 0; text-align:center; color:#fff;;}
.all_dp2 a:hover {color:#ab4f11;}
.close {position: absolute; right:0; top:0; cursor:pointer;}

body { font-family: 'Open Sans', 'Noto Sans KR' , sans-serif; font-size:16px; line-height:26px; color:#000; background:url("../images/bg.png") no-repeat; overflow-x: hidden; }

#header {width:100%; height:245px;}
#header_inner {width:1200px; height:245px; margin:0 auto; position:relative;}
.all_menu {position:absolute; left:0; top:45px; }
.all_menu h1 {cursor: pointer;}
.all_menu p { width:100px; position:absolute; top:4px; left:52px;}
#header .logo {position:absolute; top:-7px; left:390px; z-index:12; }
#header .store { position:absolute; right:0; top:42px; }
#header .store li {float:left; margin-left:40px;}
#gnb { position:absolute; top:158px; width:100%; height:92px; background: url("../images/gnb_bg.png") no-repeat; z-index: 11; }
#gnb .util { margin-left:170px; }
#gnb .util > li {float:left; font-family:'godoMaum'; position:relative; text-align: center; width:230px; }
#gnb li a { font-size:40px; color: #FFF; display: block; }

#gnb .util > li > a { padding-top:16px; padding-bottom:18px; }
#gnb .util > li:hover > a { color:#000; }
#gnb .dp2 { box-sizing: border-box; height:300px; text-align: center; }
#gnb .dp2 li a { display:block; font-size:30px; padding:10px 0; text-align:center; color:#FFF; width:230px; }
#gnb .dp2 li a:hover { color:#ff6363; }
#gnb li:hover > .dp2 {background: rgba(0,0,0,0.5); text-align:center; }
.dp2_bg{position:absolute; width:100%; left:0; top: 218px; background: #ff8383; height:300px; z-index:9;}
 
#main_visual { position: relative; top:15px; width:100%; height:469px; }
.main_visual_img { text-align: center; }

#main_visual .main_visual_gnb_util { position: absolute; border:1px solid #000; padding:41px 460px; width:100%; }
#main_visual .main_visual_gnb_util li { float:left; font-size:31px; }

#main_visual .main_visual_gnb2_util { position: absolute; border:1px solid #000; width:100%; padding:3% 0; }
#main_visual .main_visual_gnb2_util li { float:left; font-size:1.8rem; width:16%; text-align: center; }

#main_visual .main_visual_gnb3_util { position: absolute; border:1px solid #000; padding:41px 330px; width:100%; }
#main_visual .main_visual_gnb3_util li { float:left; font-size:31px; }

#main_visual .main_visual_gnb4_util { position: absolute; border:1px solid #000; padding:41px 590px; width:100%; }
#main_visual .main_visual_gnb4_util li { float:left; font-size:31px; }

#main_visual .main_visual_gnb_util li:nth-child(1) {padding-right:132px; border-right:1px solid #000; }
#main_visual .main_visual_gnb_util li:nth-child(2) {padding:0 120px; }
#main_visual .main_visual_gnb_util li:nth-child(3) {padding-left:120px; border-left:1px solid #000; }
#main_visual .main_visual_gnb_util li:hover { font-weight: bolder; }

#main_visual .main_visual_gnb2_util li:nth-child(1) { border-right:1px solid #000; }
#main_visual .main_visual_gnb2_util li:nth-child(2) { border-right:1px solid #000; }
#main_visual .main_visual_gnb2_util li:nth-child(3) { border-right:1px solid #000; }
#main_visual .main_visual_gnb2_util li:nth-child(4) { border-right:1px solid #000; }
#main_visual .main_visual_gnb2_util li:nth-child(5) { border-right:1px solid #000; }

#main_visual .main_visual_gnb2_util li:hover { font-weight: bolder; }

#main_visual .main_visual_gnb3_util li:nth-child(1) {padding-right:120px; border-right:1px solid #000; }
#main_visual .main_visual_gnb3_util li:nth-child(2) {padding:0 132px; }
#main_visual .main_visual_gnb3_util li:nth-child(3) {padding-left:132px; border-left:1px solid #000; }
#main_visual .main_visual_gnb3_util li:hover { font-weight: bolder; }

#main_visual .main_visual_gnb4_util li:nth-child(1) {padding-right:125px; border-right:1px solid #000; }
#main_visual .main_visual_gnb4_util li:nth-child(2) {padding:0 125px; }
#main_visual .main_visual_gnb4_util li:nth-child(3) {padding-left:125px; border-left:1px solid #000; }
#main_visual .main_visual_gnb4_util li:hover { font-weight: bolder; }




#contents_1 { width:100%; height:1300px; }
#contents_1_inner { position:relative; width:1200px; margin:0 auto; }
.contents_1_itro { position:absolute; top:130px; }

.border { position:absolute; top:420px; left:350px;  border-bottom:1px solid #afafaf; width:558px; margin-bottom:60px; }


.contents_1_detail { width:1200px; height:760px; position:absolute; left:0; top:480px;  }
.contents_1_detail .bxslider4 li { width:1200px; height:760px; border-radius: 80px; }
.contents_1_detail .bxslider4 .b1 { background:url("../images/slide1-1.png") no-repeat; text-indent: -9999px; }
.contents_1_detail .bxslider4 .b2 { background:url("../images/slide1-2.png") no-repeat; text-indent: -9999px; }
.contents_1_detail .bxslider4 .b3 { background:url("../images/slide1-3.png") no-repeat; text-indent: -9999px; }

/* DIRECTION CONTROLS (NEXT / PREV) */

.contents_1_detail .bx-wrapper .bx-prev {left: 50px; width:90px; height:90px; border-radius:50%; background: url("../images/prev.png") no-repeat center center;}
.contents_1_detail .bx-wrapper .bx-next {right: 50px; width:90px; height:90px; border-radius:50%; background: url("../images/next.png") no-repeat center center;}
.contents_1_detail .bx-wrapper .bx-prev:hover {background: url("../images/prev.png") no-repeat center center;}
.contents_1_detail .bx-wrapper .bx-next:hover {background: url("../images/next.png") no-repeat center center;}
.contents_1_detail .bx-wrapper .bx-controls-direction a {position: absolute;top: 46%;	margin-top: -16px;outline: 0; text-indent: -9999px;z-index: 9999;}
.contents_1_detaill .bx-wrapper .bx-controls-direction a.disabled {	display: none;}

#contents_2 { width:100%; height:1300px; position:relative; }
.contents_2_itro { position:absolute; top:130px; left:846px; }
.border2 { position:absolute; top:265px; left:738px;  border-bottom:1px solid #afafaf; width:486px; margin-bottom:60px; }
.contents_2_detail { width:100%; height:940px; position:absolute; left:0; top:340px; }

#contents_3 { width:100%; height:1730px; position:relative; }
.contents_3_itro { position:absolute; left:540px; top:120px;}
#contents_3 .menu_detail1 { position:absolute; top:370px; left:100px; width:728px; height:410px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
#contents_3 .menu_detail1 .detail_img h1 { position:absolute; top:100px; left:75px; transition:all 0.5s; cursor:pointer; }
#contents_3 .menu_detail1 .detail_img h1:hover { transform:scale(1.2,1.2);}
#contents_3 .menu_detail_desc { position:absolute; top:55px; left:310px; }
#contents_3 .menu_detail1 .menu_detail_desc h1 {position:absolute; top:270px; left:14px; }

#contents_3 .menu_detail2 { position:absolute; top:370px; left:600px; width:708px; height:410px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
#contents_3 .menu_detail2 .detail_img h1 { position:absolute; top:100px; left:75px; transition:all 0.5s; cursor:pointer; }
#contents_3 .menu_detail2 .detail_img h1:hover { transform:scale(1.2,1.2);}
#contents_3 .menu_detail_desc { position:absolute; top:55px; left:310px; }
#contents_3 .menu_detail2 .menu_detail_desc h1 {position:absolute; top:270px; left:14px; }

#contents_3 .menu_detail3 { position:absolute; top:370px; left:1060px; width:708px; height:450px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
#contents_3 .menu_detail3 .detail_img h1 { position:absolute; top:100px; left:75px; transition:all 0.5s; cursor:pointer; }
#contents_3 .menu_detail3 .detail_img h1:hover { transform:scale(1.2,1.2);}
#contents_3 .menu_detail_desc { position:absolute; top:55px; left:310px; }
#contents_3 .menu_detail3 .menu_detail_desc h1 {position:absolute; top:304px; left:14px; }

#contents_3 .menu_detail4 { position:absolute; top:880px; left:140px; width:658px; height:350px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
#contents_3 .menu_detail4 .detail_img h1 { position:absolute; top:100px; left:75px; transition:all 0.5s; cursor:pointer; }
#contents_3 .menu_detail4 .detail_img h1:hover { transform:scale(1.2,1.2);}
#contents_3 .menu_detail_desc { position:absolute; top:55px; left:310px; }
#contents_3 .menu_detail4 .menu_detail_desc h1 {position:absolute; top:206px; left:14px; }

#contents_3 .menu_detail5 { position:absolute; top:880px; left:610px; width:688px; height:410px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
#contents_3 .menu_detail5 .detail_img h1 { position:absolute; top:120px; left:75px; transition:all 0.5s; cursor:pointer; }
#contents_3 .menu_detail5 .detail_img h1:hover { transform:scale(1.2,1.2); }
#contents_3 .menu_detail_desc { position:absolute; top:55px; left:310px; }
#contents_3 .menu_detail5 .menu_detail_desc h1 {position:absolute; top:247px; left:14px; }

#contents_3 .menu_detail6 { position:absolute; top:880px; left:1070px; width:708px; height:410px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
#contents_3 .menu_detail6 .detail_img h1 { position:absolute; top:120px; left:75px; transition:all 0.5s; cursor:pointer; }
#contents_3 .menu_detail6 .detail_img h1:hover { transform:scale(1.2,1.2);}
#contents_3 .menu_detail_desc { position:absolute; top:55px; left:310px; }
#contents_3 .menu_detail6 .menu_detail_desc h1 {position:absolute; top:273px; left:14px; }

#contents_3 .menu_detail7 { position:absolute; top:1420px; left:140px; width:678px; height:380px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
#contents_3 .menu_detail7 .detail_img h1 { position:absolute; top:120px; left:75px; transition:all 0.5s; cursor:pointer; }
#contents_3 .menu_detail7 .detail_img h1:hover { transform:scale(1.2,1.2);}
#contents_3 .menu_detail_desc { position:absolute; top:55px; left:310px; }
#contents_3 .menu_detail7 .menu_detail_desc h1 {position:absolute; top:233px; left:14px; }

.menu_img1 { z-index: 9; }
.menu_img2 { z-index: 9; }
.menu_img3 { z-index: 9; }
.menu_img4 { z-index: 9; }
.menu_img5 { z-index: 9; }
.menu_img6 { z-index: 9; }
.menu_img7 { z-index: 9; }



#contents_3_inner { width:1200px; height:1730px; margin:0 auto; position:relative; }
.contents_3_itro { position:absolute; top:130px; }
.border3 { position:absolute; top:265px; left:342px;  border-bottom:1px solid #afafaf; width:502px; margin-bottom:60px; }
.contents_3_detail { width:1200px; height:1400px; position:absolute; left:0; top:372px; }

.bakery_new_menu { width:100%; height:1400px; }
.bakery_new_menu li { float: left; height: 500px; text-align: center; cursor: pointer;}
.bakery_new_menu li:nth-child(1) { padding-right:220px; }
.bakery_new_menu li:nth-child(2) { padding-right:220px; }
.bakery_new_menu li:nth-child(4) { padding-right:220px; }
.bakery_new_menu li:nth-child(5) { padding-right:220px; }
.bakery_new_menu li:nth-child(7) { padding-right:220px; }

.bakery_new_menu li img { transition:all 0.5s; }
.bakery_new_menu li img:hover { transform:scale(1.2,1.2); }


#contents_4 { width:100%; height:1730px; position:relative; }

.goods_detail1 { position:absolute; top:380px; left:160px; width:648px; height:360px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
.goods_detail2 { position:absolute; top:368px; left:620px; width:648px; height:380px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
.goods_detail3 { position:absolute; top:368px; left:1080px; width:648px; height:380px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
.goods_detail4 { position:absolute; top:962px; left:170px; width:648px; height:380px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
.goods_detail5 { position:absolute; top:930px; left:620px; width:668px; height:430px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
.goods_detail6 { position:absolute; top:963px; left:1050px; width:688px; height:380px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
.goods_detail7 { position:absolute; top:1557px; left:160px; width:668px; height:380px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }
.goods_detail8 { position:absolute; top:1570px; left:600px; width:668px; height:380px; background: rgba(0,0,0,0.6); border-radius:50px; z-index: 10; }

.goods_detail1 .goods_detail_img h1 { position:absolute; top:110px; left:85px; transition:all 0.5s; }
.goods_detail2 .goods_detail_img h1 { position:absolute; top:120px; left:85px; transition:all 0.5s; }
.goods_detail3 .goods_detail_img h1 { position:absolute; top:120px; left:85px; transition:all 0.5s; }
.goods_detail4 .goods_detail_img h1 { position:absolute; top:120px; left:85px; transition:all 0.5s; }
.goods_detail5 .goods_detail_img h1 { position:absolute; top:140px; left:85px; transition:all 0.5s; }
.goods_detail6 .goods_detail_img h1 { position:absolute; top:140px; left:85px; transition:all 0.5s; }
.goods_detail7 .goods_detail_img h1 { position:absolute; top:140px; left:85px; transition:all 0.5s; }
.goods_detail8 .goods_detail_img h1 { position:absolute; top:140px; left:85px; transition:all 0.5s; }


.goods_detail1 .goods_detail_img h1:hover { transform:scale(1.2,1.2);}
.goods_detail2 .goods_detail_img h1:hover { transform:scale(1.2,1.2);}
.goods_detail3 .goods_detail_img h1:hover { transform:scale(1.2,1.2);}
.goods_detail4 .goods_detail_img h1:hover { transform:scale(1.2,1.2);}
.goods_detail5 .goods_detail_img h1:hover { transform:scale(1.2,1.2);}

.goods_img1 { cursor: pointer; z-index: 9; }
.goods_img2 { cursor: pointer; z-index: 9; }
.goods_img3 { cursor: pointer; z-index: 9; }
.goods_img4 { cursor: pointer; z-index: 9; }
.goods_img5 { cursor: pointer; z-index: 9; }
.goods_img6 { cursor: pointer; z-index: 9; }
.goods_img7 { cursor: pointer; z-index: 9; }
.goods_img8 { cursor: pointer; z-index: 9; }


.goods_detail_desc { position:absolute; top:55px; left:310px; }

.goods_detail1 .goods_detail_desc h1 {position:absolute; top:205px; left:14px; }
.goods_detail2 .goods_detail_desc h1 {position:absolute; top:230px; left:14px; }
.goods_detail3 .goods_detail_desc h1 {position:absolute; top:230px; left:14px; }
.goods_detail4 .goods_detail_desc h1 {position:absolute; top:230px; left:14px; }
.goods_detail5 .goods_detail_desc h1 {position:absolute; top:281px; left:15px; }
.goods_detail6 .goods_detail_desc h1 {position:absolute; top:233px; left:15px; }
.goods_detail7 .goods_detail_desc h1 {position:absolute; top:232px; left:15px; }
.goods_detail8 .goods_detail_desc h1 {position:absolute; top:233px; left:15px; }



#contents_4_inner { width:1200px; height:1730px; margin:0 auto; position:relative; }
.contents_4_itro { position:absolute; top:130px; left:400px; }
.border4 { position:absolute; top:265px; left:278px;  border-bottom:1px solid #afafaf; width:700px; margin-bottom:60px; }
.contents_4_detail { position:absolute; top:365px;  width:100%; height:1350px; text-align: center; }
.contents_4_detail .goods li { float:left; padding-bottom:205px; }
.contents_4_detail .goods li:nth-child(1) { padding-right:150px; }
.contents_4_detail .goods li:nth-child(2) { padding-right:150px; }
.contents_4_detail .goods li:nth-child(4) { padding-right:150px; }
.contents_4_detail .goods li:nth-child(5) { padding-right:150px; }   
.contents_4_detail .goods li:nth-child(7) { padding-right:150px; }

#contents_5 { width:100%; height:2300px; position: relative;}
.contents_5_itro { position:absolute; top:130px; left:890px; }
.border5 { position:absolute; top:236px; left:650px;  border-bottom:1px solid #afafaf; width:620px; margin-bottom:60px; }
.contents_5_detail { position:absolute; top:335px;  width:100%; height:2300px; text-align: center; }

#notice_slider { position: absolute; left:330px; width:1300px; height:357px; }
#notice_slider .bxslider5 li { width:1300px; height:357px; float:left; }
#notice_slider .bxslider5 .b1 { background:url("../images/note-slider1.png") no-repeat; text-indent: -9999px; }
#notice_slider .bxslider5 .b2 { background:url("../images/note-slider2.png") no-repeat; text-indent: -9999px; }
#notice_slider .bxslider5 .b3 { background:url("../images/note-slider3.png") no-repeat; text-indent: -9999px; }

#search_select { position:absolute; top:500px; left:1110px; font-size:20px; border:1px solid #000; border-radius: 50px; padding:17px; width:180px;  }
#contents_5 input[type="text"]{ position:absolute; top:500px; left:1320px;  width:380px; height:60px; border:1px solid #000; border-radius:30px; font-size:18px; padding:20px; box-sizing: border-box; }
#contents_5 input[type="image"]{ position:absolute; top:508px; left:1642px; }

table { position:absolute; top:620px; left:250px; width:1452px; height:1140px; border-top:3px solid #afafaf; border-collapse: collapse; }
td { border-bottom:1px solid #bdbec8; text-align: center; }
th { border-bottom:1px solid #bdbec8; font-size:20px;  }
.table_title { text-align: left; padding-left:200px; }

.table_gnb { position:absolute; top:1820px; left:500px;  }
.table_gnb li { float:left; }
.table_gnb li:nth-child(1) { margin-right:50px; }
.table_gnb li:nth-child(2) { margin-right:50px; }
.table_gnb li:nth-child(3) { margin-right:20px; }
.table_gnb li:nth-child(3):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(4) { margin-right:20px; }
.table_gnb li:nth-child(4):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(5) { margin-right:20px; }
.table_gnb li:nth-child(5):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(6) { margin-right:20px; }
.table_gnb li:nth-child(6):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(7) { margin-right:20px; }
.table_gnb li:nth-child(7):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(8) { margin-right:20px; }
.table_gnb li:nth-child(8):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(9) { margin-right:20px; }
.table_gnb li:nth-child(9):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(10) { margin-right:20px; }
.table_gnb li:nth-child(10):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(11) { margin-right:20px; }
.table_gnb li:nth-child(11):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(12) { margin-right:20px; }
.table_gnb li:nth-child(12):hover { background:#ff7179; width:40px; height:40px; }

.table_gnb li:nth-child(13) { margin-left:50px; }
.table_gnb li:nth-child(14) { margin-left:50px; }






/* DIRECTION CONTROLS (NEXT / PREV) */

.contents_5_detail .bx-wrapper .bx-prev {left:0px; width:90px; height:90px; border-radius:50%; background: url("../images/prev3.png") no-repeat center center;}
.contents_5_detail .bx-wrapper .bx-next {right: 0px; width:90px; height:90px; border-radius:50%; background: url("../images/next3.png") no-repeat center center;}
.contents_5_detail .bx-wrapper .bx-prev:hover {background: url("../images/prev3.png") no-repeat center center;}
.contents_5_detail .bx-wrapper .bx-next:hover {background: url("../images/next3.png") no-repeat center center;}
.contents_5_detail .bx-wrapper .bx-controls-direction a {position: absolute; top:153px; margin-top: -16px;outline: 0; text-indent: -9999px;z-index: 9999;}
.contents_5_detaill .bx-wrapper .bx-controls-direction a.disabled {	display: none;}



.t1 { font-size: 26px; font-weight: bold; margin-bottom:62px; }
.t2 { font-size: 17px; color:#9da2aa; margin-bottom:22px; }
.t3 {font-size:22px; font-family:'Noto Sans KR Thin'; }
.t4 {font-size:22px; font-family:'Noto Sans KR Thin'; color:#ff4c4c; }
.t5 { font-size:22px; font-family:'Noto Sans KR Thin'; margin-top:41px; }
.t6 {font-size:32px; color:#FFF; font-weight:bold; margin-bottom:13px; line-height:40px;}
.t7 {font-size:20px; color:#FFF; border-bottom:1px solid #FFF; padding-bottom:9px; width:295px; }
.t8 { font-size:19px; color:#FFF; margin-top:17px; margin-bottom:28px; }
.t9 {font-size:18px; margin-bottom:6px; color:#FFF; }
.t10 { margin-top:38px; color:#FFF;}
.t11 { margin-top:26px; color:#FFF;}
.t12 { font-size:15px; margin-top:-11px; margin-left:4px; float:left; margin-bottom:4px; }
.t13 { float:right; color:#81807e; font-size:14px; margin-bottom:35px; line-height: 20px; }
.t14 { text-align: center; font-size: 26px; line-height:32px; font-weight: bold; margin-bottom:28px;  }
.t15 { margin-top:26px; color:#FFF; }
.t16 { color:#ff4c4c; }
.t17 { color:#7a7a7a; font-size:13px; font-weight: lighter; padding:155px 0; border-bottom:1px solid #d3d3d3; text-align: center; }
.t18 { margin-top:20px; text-align: center; }
.t19 { color:#7a7a7a; font-size:13px; font-weight: lighter; padding:155px 0; text-align: center; }
.t20 {  font-size:32px; font-weight: bold; margin:60px 0 48px 70px;  }
.t21 { margin-top:-32px; margin-left:100px; margin-bottom:40px; font-size:14px;  }
.t22 { color:#FFF; font-size:102px; font-weight: bolder; background:url("../images/main_visual_img1.png") no-repeat; width:100%; height:347px; padding-left: 800px; padding-top:160px; box-sizing: border-box;}
.t23 { position:absolute; font-size:47px; font-weight: bold; width:420px; left:425px; top:120px; }
.t24 { position:absolute; width:902px;  font-size:28px; line-height:38px; text-align: center; top:239px; left:190px; color:#585858; }
.t25 { position:absolute; font-size:47px; font-weight: bold; width:420px; }
.t26 { color:#FFF; font-size:102px; font-weight: bolder; background:url("../images/main_visual_img2.png") no-repeat center; width:100%; height:347px; padding-top:160px; box-sizing: border-box;}
.t27 { padding-top:30px; font-size:22px; font-family:'Noto Sans KR Thin'; }
.t28 { color:#FFF; font-size:102px; font-weight: bolder; background:url("../images/main_visual_img3.png") no-repeat; width:100%; height:347px; padding-left: 800px; padding-top:160px; box-sizing: border-box;}
.t29 { position:absolute; font-size:47px; font-weight: bold; width:460px; }
.t30 { color:#FFF; font-size:102px; font-weight: bolder; background:url("../images/main_visual_img4.png") no-repeat; width:100%; height:347px; padding-left: 640px; padding-top:160px; box-sizing: border-box;}


#footer { width:100%; height:388px; margin-top:504px; background:url("../images/footer_bg.png") no-repeat; }
#footer_inner { width:1200px; margin:0 auto; position: relative; }
#footer_inner h1 { position: absolute; top:88px; }
#footer_inner .foot_link { position:absolute;  left:222px;  }
#footer_inner .foot_link li { float:left; padding-right:96px; }
#footer_inner .foot_link li a { color:#FFF; font-size:20px; color:#FFF; }
#footer_inner p { position:absolute; top:210px; left:220px; font-size:20px; color:#FFF; line-height:38px; }

.more { clear: both;  }
.more a { float: right; height:30px; width:90px; border:1px solid #000; border-radius: 30px; display: inline-block; padding:5px; margin-top:90px; margin-right:24px; }
.more2 { clear: both;  }
.more2 a { float: right;width:90px; border:1px solid #000; border-radius: 30px; display: inline-block; padding:8px; margin-top:110px;  text-align: center; }
.day1 { font-family: "Tmon몬소리 Black"; font-size:40px; }
.day2 { font-family: "Tmon몬소리 Black"; font-size:14px; color:#a2a2a2; margin-top:11px;}

.gotop {position:fixed; right:50px; bottom:50px; }
.quickBox { position:fixed; right:30px; bottom:150px; width:100px; height:500px; }

.quickBox .quick_menu_desc3 { float:left; width:478px; height:133px;  overflow: hidden; background:#FFF; box-shadow: 1px 2px 5px #d3d3d3; margin-top:180px; margin-left:400px; }
.quick_menu_desc3 input[type="text"] { width:276px; height:48px; padding:10px; border:1px solid #000; margin-top:40px; margin-left:100px; box-sizing: border-box;}

.quickBox .quick_menu_desc4 { float:left; width:540px; height:474px; background:#FFF url("../images/delivery.png") no-repeat 50px 17px; box-shadow: 1px 2px 5px #d3d3d3; margin-left:340px; margin-top:4px; }

.quickBox .quick_menu_desc5 { float:left; width:421px; height:469px; background:#FFF; box-shadow: 1px 2px 5px #d3d3d3; margin-left:458px; margin-top:5px; }

.quick_menu_desc5 input[type="text"] { border-bottom:2px solid #ebebeb; width:280px; margin-left:72px; padding-bottom: 17px; color:#000; font-size:14px; font-weight: bold; margin-bottom:28px; }

.quick_menu_desc5 input[type="password"] { border-bottom:2px solid #ebebeb; width:280px; margin-left:72px; padding-bottom: 17px; color:#000; font-size:14px; font-weight: bold; margin-bottom:28px; }

input[id="cb1"] + label { margin-left:70px; display:inline-block; width:25px; height:25px; background:url("../images/checkbox.png") no-repeat; cursor:pointer; }
input[id="cb1"]:checked + label { background:url("../images/checkbox2.png") no-repeat; }
input[id="cb1"] { display: none; }
.quick_menu_desc5 input[type="submit"] { width:278px; height:50px; background:#ffe500; margin-left:74px; cursor: pointer; border-radius: 5px; }
.quick_menu_desc5 ul { margin-top:35px;}
.quick_menu_desc5 ul li { float:left; font-size:13px; }
.quick_menu_desc5 ul li:nth-child(1) { margin-right:100px;  margin-left:70px;}
.quick_menu_desc5 ul li:nth-child(2) { margin-right:24px; }

.quickBox .quick_menu_desc4 p a { background:#ff7179; padding:10px 38px; color:#FFF; }

.quick_menu_desc3 input[type="image"] { margin-left:-56px; margin-top:38px; }

.quickBox .quick_menu_desc2 { float:left; width:880px; height:400px;  overflow: hidden; background:#FFF url("../images/best.png") no-repeat 48px 10px ; box-shadow: 1px 2px 5px #d3d3d3; margin-top:40px; }

.quickBox .quick_menu_desc1 { float:left; width:540px; height:474px; background:#FFF url("../images/cart.png") no-repeat 30px -12px; box-shadow: 1px 2px 5px #d3d3d3; margin-left:340px; margin-top:4px; }

.quickBox .quick_menu_desc1 p a { background:#ff7179; padding:10px 38px; color:#FFF; }

.quick_title { border-bottom:1px solid #d3d3d3; padding:20px 100px; }
.quick_menu_desc2 .slick1 { width: 300px; padding-top:10px; text-align: center; }
.quick_menu_desc2 .slick1 li { float:left; }

.quickBox .quick { float:right; width:78px; height:550px; }
.quickBox .quick li { border:1px solid #333; margin-top:20px; width:60px; height:60px; padding:5px; cursor: pointer; }
.quickBox .quick li:hover { background:rgba(255,88,88,0.5); width:60px; height:60px; }

/* Arrows */
.quick_menu_desc2 .slick-prev, .quick_menu_desc2 .slick-next { position: absolute; top:50%; width: 60px; height: 60px; transform: translate(0, -50%); cursor: pointer; text-indent:-99999px; border:0; z-index:9999; }
.quick_menu_desc2 .slick-prev { left:51%; margin-left:-500px; background:url("../images/prev3.png") no-repeat center center; }
.quick_menu_desc2 .slick-next { left:38%; margin-left:450px; background:url("../images/next3.png") no-repeat center center; }

.quick_menu_desc1 .close { margin-top:4px; margin-right:98px; }
.quick_menu_desc2 .close { margin-top:40px; margin-right:98px; }
.quick_menu_desc3 .close { margin-top:180px; margin-right:100px; }
.quick_menu_desc4 .close { margin-top:4px; margin-right:98px; }
.quick_menu_desc5 .close { margin-top:4px; margin-right:99px; }
