@charset "utf-8";
/* CSS document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans&display=swap');

/* 여백 초기화  */

* { margin:0; padding:0; border:0; }

/* 목록 불릿 없애기 */
ol, ul { list-style:none; }

/* 하이퍼링크 설정 */
a:link { text-decoration:none; color:#333; }
a:hover { text-decoration:none; color:#333; }
a:visited { text-decoration:none; color:#333; }
a:active { text-decoration:none; color:#333; }
a:focus { text-decoration:none; color:#333; }

legend, caption {display:none;}
fielset {border:0;}
input, select, textarea {vertical-align:middle;}


body { font-family: 'Open Sans', 'Noto Sans KR' , sans-serif; font-size:16px; line-height:26px; color:#000; }

.all_box {width:100%; height:100%; overflow: auto; position:fixed; left:0; top:0; z-index: 99999; background:#74cee7;}
.all_title {font-size:100px; font-weight:bold; text-align:center; color:#fdffd5; padding-top:200px;}
.all_gnb {width:1200px; margin:0 auto; padding-top:110px;}
.all_gnb > li {float:left; width:30%; padding:0 20px; }
.all_gnb > li > a {display:block; font-size:30px; color:#FFF; font-weight:bold; text-align: center; padding-bottom: 40px; padding-top:50px;}
.all_dp2 {border-top:1px solid #FFF; margin: 0 30px; padding-bottom:60px; padding-top:20px;}
.all_dp2 a {display:block; padding:5px 0; text-align:center; color: #FFF;}
.all_dp2 a:hover {color:#6f2fe3;}
.close {position: absolute; right:0; top:0; cursor:pointer;}


#advertisement {width:100%; height:147px; background: url("images/popup-adv.png") no-repeat;}
#advertisement_inner {width:1200px; height:147px; margin:0 auto;}
#advertisement input[type="checkbox"] {float:left; margin-top:123px; margin-left:1000px; width:18px;}
#advertisement p {float:right; margin-right:40px; margin-top:116px;}
#advertisement .popup_x {float:right; margin-right:-170px; margin-top:109px; cursor:pointer;}

#header { width:100%; height:148px; }

#top_header {width:100%; height:88px; }
#top_header_inner {position:relative; width:1200px; margin:0 auto; }
#top_header .logo { position:absolute; top:10px; }
#top_header input[type="text"] {position:absolute; top:33px; left:230px; width:376px; height:38px; padding:10px; box-shadow:0 0 6px #d2d2d2; box-sizing: border-box; } 
#top_header input[type="image"]{position:absolute; left:570px; top:36px; }
#top_header .popular {position:absolute; left:673px; top:38px; font-size:20px; }
#top_header .popup_open { position:absolute; width:90px; height:89px; background:#ed145b; color:#FFF; right:0; cursor:pointer; }
#top_header .popup_open h1 { position:absolute; top:30px; } 
#top_header .popup_open p { position:absolute; top:30px; right:6px; }

#header .yellow {color:#ffc600; font-size: 20px;}

#navi {width:100%; height:60px; border-top:1px solid #f1f1f1; position:relative; }
#navi_inner {position:relative; width:1200px; margin:0 auto;}
#gnb {position:absolute; left:0; top:0px; z-index:10; }
#gnb .util {margin-left:140px;}
#gnb .util > li {float:left; position:relative; text-align:center; width:140px; }
#gnb li a {font-size:20px; color:#000; display: block}
#gnb .util > li > a {padding-top:16px; padding-bottom:18px; }
#gnb .util > li:hover > a { background:#4f8de1; color:#FFF; } 
#gnb .dp2 { box-sizing: border-box; height:300px; text-align: center; }
#gnb .dp2 li a { display:block; font-size:14px; padding:3px 0; text-align:center; color:#FFF; width:140px; }
#gnb .dp2 li a:hover { color:#ffbe0e; }
#gnb li:hover > .dp2 {background: rgba(0,0,0,0.5); top:41px; text-align:center; }
.dp2_bg{position:absolute; width:100%; left:0; top: 59px; background: #4f8de1; height:300px; z-index:9;}


#navi .all_menu {float:right; margin-right:5px; margin-top:16px; width:97px; }
#navi .all_menu h1 {float:right; margin-right:-5px; margin-top:-5px; cursor:pointer;}
#navi .all_menu p {float:left; margin-left:10px;}

#visual {width:100%; height:570px; position:relative;}

#visual ul li.b1 {text-indent: -9999px; height:570px; background:url("images/slider.png") no-repeat center top;}
#visual ul li.b2 {text-indent: -9999px; height:570px; background:url("images/slider.png") no-repeat center top;}
#visual ul li.b3 {text-indent: -9999px; height:570px; background:url("images/slider.png") no-repeat center top;}



/* PAGER */

.bx-wrapper .bx-pager {position:absolute; bottom:2px; left:50%; text-align: center;font-size: .85em;font-family: Arial; font-weight: bold; color: #FFF; padding-top: 20px;}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block; *zoom: 1; *display: inline;}

.bx-wrapper .bx-pager.bx-default-pager a {background: #FFF; text-indent: -9999px; display: block;	width: 15px; height: 15px; margin: 0 5px;	outline: 0;	-moz-border-radius: 20px; -webkit-border-radius: 20px;	border-radius: 20px;}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {background: #5576cd; width:30px;}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {left: 50px; width:90px; height:90px; border-radius:50%; background: rgba(0,0,0,0.5) url("images/mv_prev.png") no-repeat center center;}
.bx-wrapper .bx-next {right: 50px; width:90px; height:90px; border-radius:50%; background:rgba(0,0,0,0.5) url("images/mv_next.png") no-repeat center center;}
.bx-wrapper .bx-prev:hover {background:rgba(0,0,0,1) url("images/mv_prev.png") no-repeat center center;}
.bx-wrapper .bx-next:hover {background:rgba(0,0,0,1) url("images/mv_next.png") no-repeat center center;}
.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;	margin-top: -16px;outline: 0; text-indent: -9999px;z-index: 9999;}
.bx-wrapper .bx-controls-direction a.disabled {	display: none;}

#contents {width:100%; overflow:hidden;}
#clinic {width:100%; height:659px; padding-top:84px;}
#clinic .clinic_intro {text-align: center;}
#clinic_inner {width:1200px; height:659px; margin:0 auto;}
#clinic ul {margin-top:45px; height:460px;}
#clinic ul li:nth-child(1) {width:384px; height:460px; margin-right:10px; background:url("images/clinic1.png") no-repeat center center;}
#clinic ul li:nth-child(2) {width:384px; height:460px; margin-right:10px; background:url("images/clinic2.png") no-repeat center center;}
#clinic ul li {float:left;}
#clinic ul li:nth-child(3) {width:384px; height:460px; background:url("images/clinic3.png") no-repeat center center;}
#clinic ul li a { display: block; background: rgba(0,0,0,0.5); height:460px; padding-left:20px; padding-top: 260px; box-sizing: border-box; text-align: left; color:#FFF; }
#clinic ul li a:hover{display: block; background: rgba(22,49,87,0.8); height:460px; padding-left:20px; padding-top: 260px; box-sizing: border-box;}

#procedure {width:100%; height:828px;}
#procedure .procedure_intro {width:100%; text-align: center;}

.procedure_desc .slider { margin: 100px 0; height:756px; }
.procedure_desc .slick-slide { margin: 0px 20px; transition: all ease-in-out .3s; opacity: .2; display: none; float: left; }
.procedure_desc .slick-slider { position: relative; display: block; box-sizing: border-box; }
.procedure_desc .slick-list { position: relative; display: block; overflow: hidden; }
.procedure_desc .slick-slide img, .procedure_desc .slick-initialized .slick-slide { display: block; border-radius: 60px; margin-top:25px;}
.procedure_desc .slick-active { opacity: .3; }
.procedure_desc .slick-current { opacity: 1; }


/* Arrows */
.procedure_desc .slick-prev,.procedure_desc .slick-next { position: absolute; top: 42%; width: 125px; height: 125px; transform: translate(0, -50%); cursor: pointer; text-indent:-99999px; border:0; z-index:9999; }
.procedure_desc .slick-prev { left:46%; margin-left:-500px; background:url("images/prev.png") no-repeat center center; }
.procedure_desc .slick-next { left:50%; margin-left:450px; background:url("images/next.png") no-repeat center center; }

/* Dots */
.procedure_desc .slick-dots { position: absolute; width: 100%; text-align: center; bottom:-40px; }
.procedure_desc .slick-dots li { display: inline-block; margin: 0 5px; }
.procedure_desc .slick-dots li button { display: block; width: 30px; height: 5px; cursor: pointer; background:#ffc8b2; text-indent: 9999px; width: 15px; height: 15px; margin: 0 5px;	outline: 0;	-moz-border-radius: 20px; -webkit-border-radius: 20px;	border-radius: 20px; }




.t1 {font-family:"레시피코리아 Medium"; font-size:38px; color:#000;}
.t2 {font-family: "나눔스퀘어"; font-size:20px; color:#5a5a5a; margin-top:17px;}
.t3 {font-family:"레시피코리아 Medium"; font-size:29px;}
.t4 {font-family:"굴림"; font-size:18px; line-height:26px; padding-top:14px;}
.t5 {font-family: "나눔스퀘어"; font-size:15px; border:1px solid #FFF; width:90px; text-align: center; padding-top:4px; margin-top:24px;}
.t6 {font-family:"레시피코리아 Medium"; font-size:38px; color:#FFF; margin-top:60px;}
.t7 {font-family:"레시피코리아 Medium"; font-size:20px; color:#FFF; margin-top:10px;}


.before_after{ position:relative; width:100%; height:616px;}
.before_after .before_after_intro {position: absolute; text-align: left; left:891px; top:24px;}
.before_after_desc h1 {position: absolute; margin-left:380px;}
.before_after_desc .detail {position: absolute; top:360px; left:690px; background: rgba(84,84,205,0.9); width: 150px; height:150px; text-align: center; padding-top:52px; box-sizing: border-box; color:#FFF; font-size:20px;}
.before_after_desc .title {position: absolute; top:200px; padding-left:100px; color:#FFF; font-size: 22px; }

.before_after_desc .slider {position: absolute;  height:516px; top:220px; left:890px;}
.before_after_desc .slick-slide { margin: 0px 20px; transition: all ease-in-out .3s; opacity: .2; display: none; float: left; }
.before_after_desc .slick-slider { position: relative; display: block; box-sizing: border-box; }
.before_after_desc .slick-list { position: relative; display: block; overflow: hidden; }
.before_after_desc .slick-slide img,.before_after_desc .slick-initialized .slick-slide { display: block;}
.before_after_desc .slick-active { opacity: .3; }
.before_after_desc .slick-current { opacity: 1; }

/* Arrows */
.before_after_desc .slick-prev,.before_after_desc .slick-next { position: absolute; top:-50px; width: 40px; height: 40px; cursor: pointer; text-indent:-99999px; border:0; z-index:9999; }
.before_after_desc .slick-prev {position: absolute; left:26%; margin-left:-500px; background:url("images/prev2.png") no-repeat center center; }
.before_after_desc .slick-next {position: absolute; left:30px; background:url("images/next2.png") no-repeat center center; }

.movie {width:100%; height:714px; position:relative;}
.movie_intro {position: absolute; left:291px;  width:1347px; height:573px; background: rgba(55,124,222,0.7); text-align: center;}
.movie .movie_desc {position: absolute; left:380px; top:150px;}

.news {margin-top:30px; width:100%; height:600px;}
.news_intro {left:779px; text-align: center;}
.news .news_desc {width:100%; height:474px;}
.news_desc ul {margin-left:242px; margin-top:50px; }
.news_desc ul li {float:left; }
.news_desc ul li:nth-child(2) {margin:0 37px;}

.t8 {font-size:30px; margin-top:20px;}
.t9 {color:#4a4a4a; font-size:20px; margin-top:30px;}
.t10 {color:#4a4a4a; font-size:20px; margin-top:20px;}

#footer { position:relative; margin-top:280px; width:100%; height:241px; background:#f3aa4c; font-size:22px; color:#FFF;}
#footer .foot_link {position: absolute; left:210px; top:30px; width:400px;}
#footer .foot_link li { float:left;}
#footer .foot_link li:nth-child(1) {margin-right: 95px;}
#footer address { position: absolute; margin-left:210px; top:110px;} 
#footer .sns { position: absolute; right:116px; top:15px;}
#footer .sns li {float:left; width:100px; }

.gotop {position:fixed; right:50px; bottom:50px;}


















